.App {
    margin:0 auto;
    width: 80%;
    text-align: center;
    background-color: teal;
    display:inline-block;
    font-family: 'Lemonada', cursive;
 
  }
  
  .phone{
    width:20rem;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border-radius: 2rem;
    margin-top:2rem;
    margin-bottom: 1rem;
  }
  h4{
    opacity: 0.2;
  }
  h1{
    display:inline;
  }
  .phone p {
   text-align: left;
   color:black;
   padding:0.2rem;
  }
  
  button{
    width:17rem;
    height:3rem;
    border-radius: 2rem;
    text-align: center;
    margin:1rem;
    color:white;
    
    background-color: teal;
  }
  
  @media (min-width:600px){
    
    .phone{
      width:28rem;
    }
  }
  
  @media (min-width:800px){
    
    .phone{
      width:35rem;
    }
  }
  
  @media (min-width:1200px)
  {
    .App{
      display:flex;
    }
    .phone{
      width:18rem;
    }
    button{
      opacity:0.5;
    }
  .phone:hover button{
    opacity:1;
    
  }
  .phone:hover{
    transform: translate(0, -10px);
    transition: all 0.2s;
  }
  .space{
    margin:2rem;
  } 
  }